.togglebutton {position: absolute;
    top: .75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;}

.togglebutton .bar {
    height: 100%;
    width: 100%;
    background-color: #e3e3e3;
    border-radius: 10px;
    border-top: 10px;
    border-bottom: 1px}

@media (max-width:600px) {
    .togglebutton{display:flex}
}
